@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1 class="text-danger">HATA!</h1>
<h2 class="text-danger"></h2>

@if (Model.Errors.Any())
{
    <div class="alert alert-danger">
        @foreach(var item in Model.Errors)
        {
            <p>@item</p>
        }
    </div>
}