@{
    ViewData["Title"] = "Engellenen Kullanıcılar";
    Layout = "_AdminLayout";
}
<div class="container">
    <main role="main" class="pb-3">
        <h1>Engellenen Kullanıcılar</h1>
    </main>
</div>