@model AdminsDto
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="container">
    <main role="main" class="pb-3">
        <div class="admin-login">
            <div class="admin-login-container">
                <h1>Admin Panel Girişi 👏</h1>

                <form asp-controller="Admin" asp-action="Index" method="post">
                    <label for="UserName">Kullanıcı Adı:</label>
                    <div class="custome-input">
                        <input asp-for="UserName" type="text" name="UserName" placeholder="Kullanıcı Adınız" autocomplete="off">
                        <i class='bx bx-at'></i>
                    </div>
                    <label for="Password">Şifre:</label>
                    <div class="custome-input">
                        <input asp-for="Password" type="password" name="Password" placeholder="Şifreniz" autocomplete="off">
                        <i class='bx bx-lock-alt'></i>
                    </div>
                    <span style="color:red">@ViewBag.AdminLoginErrorMessage</span>
                    <button type="submit" class="login">Giriş Yap</button>
                </form>
            </div>
        </div>
    </main>
</div>