@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="container">
    <main role="main" class="pb-3">
        <div class="admin-login">
            <div class="admin-login-container">
                <h1>Admin Panel Girişi 👏</h1>

                <form>
                    <label for="email">Kullanıcı Adı:</label>
                    <div class="custome-input">
                        <input type="email" name="email" placeholder="Kullanıcı adınız" autocomplete="off">
                        <i class='bx bx-at'></i>
                    </div>
                    <label for="password">Şifre:</label>
                    <div class="custome-input">
                        <input type="password" name="password" placeholder="Şifreniz">
                        <i class='bx bx-lock-alt'></i>
                    </div>
                    <button class="login">Giriş Yap</button>
                </form>
            </div>
        </div>
    </main>
</div>